flask
pymongo
flask-pymongo
python-dotenv
bcrypt
flask-jwt-extended
flask-socketio
flask-cors
Werkzeug
pydantic
python-dateutil
marshmallow
Flask-Limiter
Pillow
flask-socketio 
eventlet
python-magic-bin # for windows
# python-magic # for linux
# brew install libmagic # for macOS