flask
pymongo
flask-pymongo
python-dotenv
bcrypt
flask-jwt-extended
flask-socketio
flask-cors
Werkzeug
pydantic
python-dateutil
marshmallow
Flask-Limiter
Pillow
flask-socketio 
eventlet
python-magic-bin
python-magic